body {
    text-align: center;
}

.quadrado {
    text-align: center;
    width: 75px;
    background: #ddd;
    display: inline-block;
    padding: 28px;
    font-size: 75px;
    margin: 5px;
    cursor: pointer;
    color: #ddd;
}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 12px;
    width: 120px;
    height: 35px;
    background: #ddd;
    cursor: pointer;
}

.jogada {
    animation-name: jogadaAnimacao;
    animation-duration: 0.7s;
}

@keyframes jogadaAnimacao {
    0% {transform: rotateX(0deg);}
    15% {transform: rotateX(15deg);}
    40% {transform: rotateX(40deg);}
    90% {transform: rotateX(90deg);}
    100% {transform: rotateX(180deg);}
}

.venceu {
    animation-name: venceuAnimacao;
    animation-duration: 1.2s;
}

@keyframes venceuAnimacao {
    0%   {border: 0 solid black;}
    30%  {border: 1.6px solid black}
    60%  {border: 2.5px solid black}
    80%  {border: 1.6px solid black}
    100%  {border: 0 solid black}
    
}